*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}
.container{
  /* border: 1px solid; */
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.scissors{
  border: 5px solid;
  width: 30%;
}
.scissors > img{
  margin-top: 20px;
}
.rock{
  border: 5px solid;
  width: 30%;
}
.paper{
  width: 30%;
  border: 5px solid;
}
.paper > img{
  height: 200px;
}
u{
  font-size: 50px;
  font-weight: bold;
}